<!doctype html>
<html>
<head>
        <title>This is the calendar test ground with some functionalities</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <style>
                body            { padding-top:80px; }
        </style>
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1><span class="fa fa-cog"></span> Upcoming events</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% for (i=0; i<data.items.length; i++) { %>
      <div class="col-sm-6">
      </div>
      <div class ="col-sm-6">
	<div class="panel panel-info">
	  <div class="panel-heading"> <h4> <%= data.items[i].summary%> </h4></div>
	  <div class="panel-body"> <%= moment(data.items[i].start.dateTime).zone(-2).format("ddd, MMM Do, h:mm a") %>  </div>
	</div>

      </div>
      <%}%>
    </div>

      <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
</body>
</html>
